<div class="container-header">
    <div class="container-brand">
        <a href="/admin/dashboard/">
            <img class="ducker-png" src="/icons/duck50.png" alt="">
        </a>
    </div>

    <ul class="container-menu">
        <a class="button-link" aria-current="page" href="#">Home</a>
        <a class="button-link">Link</a>
    </ul>
    <div class="container-user">
        <p class="username">Bem vindo {{ username }}</p>
        <a class="button-logout" href="/logout">Sair</a>
    </div>
</div>